.category {
  grid-area: main;
  margin-top: 15px;
}

.word {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table {
  padding: 20px;
}

.cell {
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
}
