.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: hd;
  background-color: var(--main-bg-color);
  padding: 0 40px;
}

.logo {
  font-family: "Estonia", cursive;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--second-lt-color);
  line-height: 1em;
  max-height: 100%;
}

.authorization {
  display: flex;
  overflow: hidden;
  border-radius: 50px;

  button {
    border-radius: 50px;
    background-color: inherit;
    height: 42px;
  }
}

.authorizationItems {
  display: flex;
  align-items: center;
  background-color: var(--second-lt-color);
  padding: 0 60px 0 30px;
  margin-right: -28px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: 0.2s;
  transform-origin: right center;
  transform: translateX(100%);
  opacity: 0;
  margin-bottom: 0;

  li {
    font-size: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  li:not(:last-child) {
    margin-right: 20px;
  }
}

.authorizationItemsActive {
  transform: translateX(0);
  opacity: 1;
}

.logIn {
  background-color: var(--main-bg-color);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
